<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- Include the above in your HEAD tag -->
<div id="wrapper" class="active">  
    <!-- Sidebar -->
            <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul id="sidebar_menu" class="sidebar-nav">
           <li class="sidebar-brand"><a id="menu-toggle" href="#">Menu<span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
        </ul>
        <ul class="sidebar-nav" id="sidebar">
          <li><a routerLink="/pract" routerLinkActive="active">Nos Donnees<span class="glyphicon"></span></a></li>
          <li><a routerLink="/appoint" routerLinkActive="active">RDV<span class="glyphicon"></span></a></li>
          <li><a routerLink="/obs" routerLinkActive="active">Observation<span class="sub_icon glyphicon"></span></a></li>
        </ul>
      </div>
          
      <!-- Page content -->
      <div id="page-content-wrapper">
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
            <div class="row">
              <div class="col-md-12">
                <p class="well lead">Projet FHIR</p>
                <div class="container">
                    <div class="row"> <!-- div da esquerda -->
                      <router-outlet></router-outlet>
                      
                    </div> <!-- fim div da esquerda -->
                </div>
              </div>
          </div>
        </div>
    </div>
      
</div>
