<form>
    <div class="form-group wrapper">
      <div class="one">
      <select id="patientID"  >
        <option  *ngFor="let pat of patientsArray" [value]="pat.id" >{{pat.name[0].family}} {{pat.name[0].given[0]}}</option>
      </select>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            Catégories
          </mat-expansion-panel-header>
          <mat-button-toggle-group #group="matButtonToggleGroup">
            <mat-button-toggle value="tryg" (change)="showGroup('tryg')">
              Triglycéride
            </mat-button-toggle>
            <mat-button-toggle value="gen" (change)="showGroup('gen')">
              Observation-Genetics
            </mat-button-toggle>
            <mat-button-toggle value="chol" (change)="showGroup('chol')">
              Cholésterol
            </mat-button-toggle>
          </mat-button-toggle-group>

          <mat-button-toggle-group #chol="matButtonToggleGroup" *ngIf="checker==2">
            <mat-button-toggle value="2085-9">
              Cholesterol in HDL [Moles/?volume] in Serum or Plasma
            </mat-button-toggle>
            <mat-button-toggle value="24331-1">
              Lipid 1996 panel - Serum or Plasma
            </mat-button-toggle>
          </mat-button-toggle-group>

          <mat-button-toggle-group #tryg="matButtonToggleGroup" *ngIf="checker==1">
            <mat-button-toggle value="14927-8">
              Triglyceride [Moles/?volume] in Serum or Plasma
            </mat-button-toggle>
          </mat-button-toggle-group>

          <mat-button-toggle-group #gen="matButtonToggleGroup" *ngIf="checker==3">
            <mat-button-toggle value="55233-1">
              Genetic analysis master panel
            </mat-button-toggle>
            <mat-button-toggle value="51967-8">
              Genetic disease assessed
            </mat-button-toggle>
          </mat-button-toggle-group>


        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="two">
      <label for="exampleFormControlTextarea1">Commentaire</label>
      <textarea class="form-control" id="exampleFormControlTextarea1"></textarea>
    </div>
    </div>
    <button type="button" class="btn btn-primary">Valider</button>
</form>
