/* You can add global styles to this file, and also import other style files */
/* angular-cli file: src/styles.css */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

body {
  background-image: url(http://image.noelshack.com/fichiers/2018/39/2/1537885253-dreamteam.png);
  background-repeat: no-repeat;
  background-size:cover;

}
