<ng-template class="mymodal" #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">{{modalData?.event.id}}</h5>
    <h5 class="modal-title">{{modalData?.event.title}}</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Début : {{modalData?.event.start}} - Fin : {{modalData?.event.end}}</p>
    <p>>Patient : {{modalData?.event.patientRef}} - {{modalData?.event.patientNom}}</p>
    <p>Priorité :  {{modalData?.event.priority}}</p>
    <p>Détail :  {{modalData?.event.comment}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">OK</button>
  </div>
</ng-template>

<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
        Previous
      </div>
      <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
        Today
      </div>
      <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
        Next
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
</div>
<br>
<div [ngSwitch]="view">
  <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
    dayStartHour="7" dayEndHour="20">
  </mwl-calendar-week-view>
</div>

<br>
<br>
<br>
<!-- 
<table class="table table-bordered">

    <thead>
      <tr>
        <th>Title</th>
        <th>Commence à</th>
        <th>Finit à</th>
        <th>Réponse</th>
      </tr>
    </thead>
    <tbody>

            <tr *ngFor="let rdv of appointmentsArray">
                <td>{{rdv}}</td>
                <td>ValeurDeb</td>
                <td>ValeurFin</td>
                <td>
                  <div class="col-md-3">
                    <button type="button" class="btn btn-primary">Valider</button>
                  </div>
                  <div class="col-md-2">
                    <button type="button" class="btn btn-primary">ABS</button>
                  </div>
                </td>
              </tr>
    </tbody>

  </table>
-->