<div class="row">
    <div class="col-md-12">
      <h2 class="card-title">Information</h2>

      <!-- Nom -->

      <div class="col-md-1">
        <label for="nom" class="col-form-label">Nom</label>
      </div>
      <div class="col-md-11">
        <label for="nomVal" class="col-form-label">ValeurNom</label>
      </div>

      <!-- Prenom -->

      <div class="col-md-1">
        <label for="nom" class="col-form-label">Prenom</label>
      </div>
      <div class="col-md-11">
        <label for="nomVal" class="col-form-label">ValeurPreNom</label>
      </div>

      <!-- Adresse -->

      <div class="col-md-1">
        <label for="nom" class="col-form-label">Adresse</label>
      </div>
      <div class="col-md-11">
        <label for="nomVal" class="col-form-label">12 rue des champs</label>
      </div>

    </div>
</div>