<mat-card>
  <mat-card-header fxLayout="row" fxLayoutGap="5%">
    <mat-card-title>Votre Profil</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div style="display: flex;">
      <label style="flex-grow: 1;">Nom: {{nom}}</label>
      <label style="flex-grow: 1;">Prenom: {{prenom}}</label>
    </div>


    <!-- Adresse -->
    <mat-divider></mat-divider>
    <div style="display: flex;">
      <label style="flex-grow: 1;">Rue: {{adresse_rue}}</label>
    </div>
    <mat-divider></mat-divider>
    <div style="display: flex;">
      <label style="flex-grow: 1;">Code Postal: {{cp}}</label>
      <label style="flex-grow: 1;">Ville: {{adresse_ville}}</label>
    </div>
    <mat-divider></mat-divider>

  </mat-card-content>
</mat-card>